* {
    /* padding: 0px;
    margin: 0px; */
    box-sizing: border-box;
}

.wrapper {
    background-color: blueviolet;
}

main {
    background-color: aqua;
    display: flex;
    gap: 20px;
}

.page {
    width: 45%;
}