.userCard {
    margin-top: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 15px;
    width: 50%;
}

.userCard__age {}

.userCard__description {
    font-style: italic;
    text-align: center;
}